//mixin con parametros
@mixin grid($column, $row) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin box-estilo($border-estilo, $backcol, $radius, $border-color, $shadow, $color) {
  border-style: $border-estilo;
   background-color: $backcol;
   border-radius: $radius;  
   border-color: $border-color;  
   box-shadow: $shadow;
   color: $color;
} 

@mixin estilo_texto($fuente, $px, $color, $textalign, $sombra) {
    font-family: $fuente;
    font-size: $px;
    color: $color;
    text-align: $textalign;
    text-shadow: $sombra;
}
@mixin radial($color, $radial, $shadow){
    color: $color;
    background: $radial;
    text-shadow: $shadow;
}

@mixin medida($ancho, $alto){ 
  width: $ancho;
  height: $alto;
 
}
@mixin position($cont, $aligit, $acont, $gap){
    justify-content: $cont;
    align-items: $aligit;
    align-content: $acont;
    gap: $gap;
}

@mixin z-index($pos, $z){   
    position: $pos;
    z-index: $z;
}
@mixin hover($opacity, $visibility, $translateY){
   opacity: $opacity;
   visibility: $visibility;
   transform: translateY($translateY);
}

//mixin sin parametros

@mixin viñetas {
    background-size: 16px 16px;
    padding-left: 2px;
    margin-bottom: 2px; 
}

//mixin con parametros y estilos fijos

@mixin background-fondo($size, $position) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
    
}

@mixin flex($wi, $hei) {
    display: flex;
    width: $wi;
    height: $hei;        
   
}

@mixin flex-gap($med) {
    display: flex;
    gap: $med;
}



@mixin estilo-a($padd, $alig, $border, $back, $col) {
    display: inline-block;
    padding: $padd; 
    text-align: $alig;
    border-color: $border;
    background-color: $back;
    color: $col;
}
