//variables
@use '../abstracts/variables';
//mixin
@use '../abstracts/mixin';


html{
    font-family: variables.$font-primario; 
}

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-top: 50px;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    height: 4vh;
    width: auto;
    align-content: center;
    text-align: center;
    padding: 2px 8px;
    @include mixin.box-estilo(outset, variables.$beig-a, 20px, rgba(73, 112, 74, 0.966), variables.$sombra-a, variables.$tex);
}   