//variables
@use "../abstracts/variables";
//mixin
@use "../abstracts/mixin";
//hover



body.b_index{
    figure{
       display: flex;
       position: relative;
      
       @include mixin.medida( 100%, 20vh, none);
        .img_ban{
            object-fit: cover;
            
            width: 25%;
            .ban_desk{
            display: none;
        }
        }
        
    }
    header{
        @include mixin.medida(100%, 20vh, none);
        top:0;
        justify-content: space-between;
        position: absolute;

        div.bane{
            @include mixin.flex(90%, 18vh, none, none, 10vw);
           

            img.logo{
                @include mixin.box-estilo(outset, rgba(230, 221, 221, 0.557), 20px, variables.$sombra-logo);
                @include mixin.medida(none, 16vh, 8px 0 0 4%)

            }


            nav{

                display: flex;
                width: 60vw;
                z-index: 80;

                ul.desplegable{

                    display: flex;
                    gap: 10px;
                        
                       li.catalogo{
                        position: relative;

                           ul.cata1{

                            display: none;
                            position: absolute;
                            top: 100%;
                            background-color: #769585;
                            border-radius: 50px;
                            @include mixin.hover(0, hidden, 10px);
                            transition: 0.3s ease;

                           }
                            &:hover ul.cata1 {
                           display: block;
                            @include mixin.hover(2, visible, 0px);
                            }
                        }

          
                   
                }
                   

            }
        }

    }
    div.fondo_index{
        main.main_princ{
            h1.titulo{

            }
            h2.parrafo{

            }
            p.s1{

            }
            p.s2{

            }
        }
        footer{
            img.foo_img{
                
            }
        }
    }
}

